/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/04/2015, 02:33:08
    Author     : José Renato
*/

#barraSuperior{

    margin-top: 2em;

}

#barraSuperior ul{
    font: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#barraSuperior ul li{
    margin: 1px 4px;
    float: left;
    position: relative;
    display: block;

}
#barraSuperior ul li a{
    font-weight: bold;
    height:2em;
    color: #555;
    background: #fff;
    text-decoration: none;
    margin: o 1px;
    padding: 15px 20px;
    border-top: 1px solid black;
    display: block;
}
#barraSuperior ul li a:visited {
    color: #555;
    background: #fff;
    text-decoration: none;
    margin: o 1px;
    padding: 15px 20px;
    border-top: 1px solid black;
    display: block;
}
#barraSuperior ul li a:hover{

    color: #555;
    background: #fff;
    text-decoration: none;
    margin: o 1px;
    padding: 15px 20px;
    border-top: 2px solid black;
    display: block;
}
#barraSuperior ul li a:active{

    color: #555;
    background: #fff;
    text-decoration: none;
    margin: o 1px;
    padding: 15px 20px;
    border-top: 3px solid black;
    display: block;
}
#portifolio  #port{

    color: #555;
    background: #fff;
    text-decoration: none;
    margin: o 1px;
    padding: 15px 20px;
    border-top: 4px solid black;
    display: block;

}

